@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    font-family: 'Cascadia Code', sans-serif;
}

#page {
    background: #1f2833;
}

h2 {
    color: #c5c6c7;
}

#navbar-section {
    width: 100%;
    background-color: #0b0c10;
    justify-content: center;
}

#navbar-section ul {
    align-items: center;
}

#navbar-section ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}

#navbar-section ul li a {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    transition: transform .4s;
}

#navbar-section ul li a:hover {
    color: #66fcf1;
    transform: scale(1.2);
}

#navbar-section ul {
    margin: 5px 0;
    text-align: end;
}

#resume {
    border: 2px solid #66fcf1;
    border-radius: 5px;
    padding: 3px 3px;
}

#header-section img {
    border: 3px solid #66fcf1;
    border-radius: 10px;
    width: 30%;
}

#hello-div {
    display: inline-block;
}

aside img {
    float: right;
}

#hello {
color: white;
}

#name, span {
    color: #66fcf1;
}

#h3-title, #about-me p {
color: #c5c6c7;
}

footer {
    background-color: #0b0c10;
}

footer p {
    color:  #66fcf1;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}